<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Feriados</a>
    <ul class="nav">
      <li><%= link_to 'Criar novo', new_holiday_path %></li>
    </ul>
  </div>
</div>

<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Descrição</th>
      <th>Dia</th>
      <th>Mês</th>
      <th>Fixo</th>
      <th>Data</th>
      <th width="80">Ações</th>
    </tr>

  <% @holidays.each do |holiday| %>
    <tr>
      <td><%= holiday.description %></td>
      <td><%= holiday.day %></td>
      <td><%= holiday.month %></td>
      <td><%= frendly_boolean holiday.fixed %></td>
      <td><%= format_date_br holiday.date %></td>
      <td>
          <%= link_to edit_holiday_path(holiday), title: 'Editar' do %><i class="icon-edit"></i><% end %>
          <%= link_to holiday, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
      </td>
    </tr>
  <% end %>
  </table>
</div>