<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Listando Mensalidade</a>
  </div>
</div>

<table class="table table-hover">
  <tr>
    <th>Data</th>
    <th>Motorista</th>
    <th>Veiculo</th>
    <th>Viagem</th>
    <th>Opções</th>
  </tr>

<% @monthlies.each do |monthly| %>
  <tr>
    <td><%= monthly.data %></td>
    <td><%= monthly.driver.name %></td>
    <td><%= monthly.travel.vehicle.vehicle_type %></td>
    <td><%= monthly.travel.request.goal %></td>
    <!-- <td>
        <%= link_to monthly, title: 'Visualizar' do  %><i class="icon-user"></i><%end%>
        <%= link_to monthly, method: :delete, data: { confirm: 'Are you sure?' },title: 'Deletar' do %><i class="icon-trash"></i><%end%>
    </td> -->
  </tr>
<% end %>
</table>


