<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Adicionando Participantes</a>
    <ul class="nav">
      <%= form_for @participant, url: add_participants_path(@id), html: { class: 'navbar-form', style: 'display: inline' } do |f| %>
      <%= f.hidden_field :cpf %>
      <%= f.text_field :cpf , placeholder:'Digite CPF' %>
      <%= f.submit 'Buscar', class: 'btn'%>
      <%= link_to 'Voltar', requests_path, class: 'btn' %>
      <%end%>
    </ul>
  </div>
</div>

<table class="table table-hover">
  <tr>
    <th>Nome</th>
    <th>Matricula</th>
    <th>CPF</th>
    <th>Ações</th>
  </tr>

<% @participants.each do |p| %>
  <tr>
    <td><%= p.user.name %></td>
    <td><%= p.user.registration %></td>
    <td><%= p.user.cpf %></td>
    <td>
        
        <%= link_to p, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %><i class="icon-trash"></i><%end%>  
    </td>
  </tr>
<% end %>
</table>

<script type="text/javascript">
  $('.salvar').click(function() {
    $('form').submit();
  });
</script>