<%= form_for(@duration) do |f| %>
  <% if @duration.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @duration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :initiation %>
    <%= f.date_select :initiation %>
  </div>

  <div class="field">
    <p>Interino? <%= f.check_box :acting %></p>
  </div>

  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :function_id %>
    <%= f.collection_select :function_id, Function.all, :id, :name_level %>
  </div>

  <div class="actions">
    <%= f.submit 'Salvar', class: 'btn btn-info' %>
    <%= link_to 'Cancelar', user_durations_path(@duration.user_id), class: 'btn btn-info' %>
  </div>

<% end %>

