<%= form_for(@travel_driver) do |f| %>
  <% if @travel_driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@travel_driver.errors.count, "error") %> prohibited this travel_driver from being saved:</h2>

      <ul>
      <% @travel_driver.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class='espacamento'>
  <div class="field">
    <%= f.label :travel_id %><br />
    <%= f.text_field :travel_id %>
  </div>
  <div class="field">
    <%= f.label :driver_id %><br />
    <%= f.text_field :driver_id %>
  </div>
  <div class="field">
    <%= f.label :number_of_daily %><br />
    <%= f.number_field :number_of_daily %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $('.salvar').click(function() {
    $('form').submit();
  });
</script>