<h1 class='espacamento'>Listing user_types</h1>
<div class='espacamento'>
  <table>
    <tr>
      <th>Type name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @user_types.each do |user_type| %>
    <tr>
      <td><%= user_type.type_name %></td>
      <td><%= link_to 'Show', user_type %></td>
      <td><%= link_to 'Edit', edit_user_type_path(user_type) %></td>
      <td><%= link_to 'Destroy', user_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New User type', new_user_type_path %>
</div>