<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Período Letivo: <%= @semester.name%></a>
    <ul class="nav">
      <li><%= link_to 'Voltar', alocation_permanents_path %></li>
    </ul>
  </div>
</div>

<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Nome</th>
      <th>Capacidade</th>
      <th>Tamanho</th>
      <th>Tipo do Local</th>
      <th>Ações</th>
    </tr>

  <% @spaces.each do |space| %>
    <tr>
      <td><%= space.name %></td>
      <td><%= space.capacity %></td>
      <td><%= space.size %></td>
      <td><%= space.location_type.name %></td>
      <td><%= link_to 'Ver Reservas', alocation_permanents_space_path(space.id,@semester_id) %></td>
    </tr>
  <% end %>
  </table>
</div>